.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse	 {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse	 {
  flex-direction: row-reverse;
}

// FLEX-WRAP

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

// Justify-content

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-around	 {
  justify-content: space-around;
}

// Align-items

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-baseline	 {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}