#root {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.content-wrapper {
  border-right: 1px solid #949494;
  flex: 1;
  width: 80%;
}

.setting-container {
  width: 280px;
  .setting-box {
    position: sticky;
    top: 0;
  }
}
